extends layout

block content
  a(href="/").btn.btn-danger back
  div.container
   div.row
    div.col-lg-5
     img(src="/images/3.jpg" width="100%")
     p My boyfriend Matt and I moved to Phoenix about two years ago from Michigan. We're still not used to summers in Arizona, but have grown to love the star-filled skies and amazing views outside of the city. We've visited Sedona and Flagstaff since moving, but we still hope to travel down to Tucson for their observatory and north to the Grand Canyon.  
    div.col-sm-1
    div.col-lg-5
     img(src="/images/4.jpg" width="100%")
     p Here's a combination of my friends from home and new friends I've made since moving to Phoenix. This summer I traveled to Michigan to visit my old friends and went to Chicago with my Phoenician friends. We are always planning our next trip, and I'm hoping we go to New York or Boston next. 
    div.col-sm-1