extends layout

block content
  a(href="/").btn.btn-danger back
  div.container
   div.row
    div.col-lg-5
     img(src="/images/1.jpg" width="100%")
     p This is my best friend, Finn Sterling. I adopted him two years ago after he was found in a field outside of Phoenix. When he isn't napping, which is very often, we spend our time together camping, swimming, and going on adventures. He strongly despises vacuums but is still the sweetest boy.
    div.col-sm-1
    div.col-lg-5
     img(src="/images/2.jpg" width="100%")
     p My sisters are my closest friends, with the exception of my dog. I have two older sisters and a younger sister, all living in Michigan. For seven years I was the baby, and the most adored, now I accept my ranking as the golden middle child. My oldest sister just had her first baby, so I now gleefully accept my new title of Aunt, as well. 
    div.col-sm-1
   