extends layout

block content
 div.container
  div.row
   div.col-lg-12
    div.container
     div.row
      div.col-sm-3
      div.col-lg-6.cntr
       h1.testClass Kaitlin Griffith
      div.col-sm-3
     div.row
      div.col-sm-1
      div.col-lg-10.cntr
       a.btn.btn-primary.btn-lg.btnspace(href="/crj305").btnspace  CRJ 305
       a.btn.btn-primary.btn-lg.btnspace(href="/crj306").btnspace CRJ 306 
      div.col-lg-1
    div.row
     div.col-lg-3
     div.col-lg-6
      p.nLine Hello classmates,
      p My name is Katie, and I’m from Lansing, the capital of Michigan. I am a criminal justice major and I’m finishing my third year. I have worked in two Phoenix law firms focused on legal insurance. I’m now starting my career in compliance for a financial institution and I plan to use my degree to become a compliance executive. I have always enjoyed traveling and I’ve developed a passion for politics. I would love to visit every continent before I retire, and possibly even move abroad depending on the political climate. 
      p Click on one or both of these buttons for the classes I have with Ms. DeCarolis to learn more about me! 
    div.col-lg-3
  
