doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/usebootstrap.css')
    link(rel='stylesheet', href='/stylesheets/usebootstap.less')
    link(rel='stylesheet', href='/stylesheets/variables.less')
  body
    block content
